.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    margin: 0;
}

body, p, h1{
    margin: 0;
    font-size: 14px;
}

.container{
    align-items: center;
    background-color: #f2ebe3;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}   

.box-buy_product{
    background-color: #fff;
    border-radius: 15px;
    width: 375px;
}

.box-buy_product img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    width: 375px;
}

.box-buy_text{
    margin: 10px;
}

.box-buy_text h1{
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-size: 2.3em;
    margin-inline: 25px;
}

.box-buy_text p{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: left;
    margin: 20px;
}

.box-buy__price{
    align-items: center;
    display: flex;
}

.box-buy__price h1{
    color: hsl(158, 36%, 37%);
    margin-right: 15px;
}


.box-buy__price > del{
    color: hsl(228, 12%, 48%);
    margin: -20px;
}

.btn-buy_container{
    align-items: center;
    display: flex;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 20px;
    justify-content: center;
    height: 50px;
}

.btn-buy_container a{
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transition: 250ms;
    height: 100%;
    width: 100%;
}

.btn-buy_container a:link{
    color: #fff;
    text-decoration: none;
}

.btn-buy_container a:visited{
    color: #fff;
    text-decoration: none;
}

.btn-buy_container a:hover{
    background-color: hsl(158, 81%, 14%);
}

.icon_cart{
    margin: 10px;
}

@media (min-width: 1440px){
    .container{
        align-items: center;
        display: flex;
        justify-content: center;
    } 
    
    .box-buy_product{
        background-color: #fff;
        border-radius: 15px;
        display: flex;
        width: 700px;
    }  

    .box-buy_text{
        display: flex;
        width: 100%;
        align-content: center;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }

    .box-buy_product img{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
    }

}